{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Add Comments Page
{% endblock %}

{% block content %}

<div class="scroll">
    <ol>
    {% for comment in comments %}
        <li>
            <article>
                <footer>
                    {{ comment.date_added }}
                </footer>
                <div>
                    {{ comment.comment|linebreaks }}
                </div>
            </article>
        </li>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    </ol>
</div>

<form action="." method="POST" autocomplete="off">{% csrf_token %}
    <fieldset class="form-group">
        <legend class="legend mb-4"> Add Comments</legend>
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-database"></i>
            Add
        </button>
        <a href="{% url 'classreg:view-student' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true" style="float: right">
            <i class="fas fa-list"></i>
            Back to Student View
        </a>
    </div>
</form>

{% endblock %}